@import "reset"
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap')
$border: 1px solid #1e1e1e

html
  font-family: 'Open Sans', sans-serif
  font-size: 12px
  color: #a1a1a1
  background: #0e0e0e

.stickyHeader
  position: absolute
  height: 32px
  background: #222222
  width: 100%
  z-index: 10
.fixtureItems
  height: 100vh
  overflow-y: auto

.fixtureRowWrapper
  &:first-of-type
    padding-top: 32px
.fixtureRow
  .firstCol
    width: 400px
    border-right: $border
    display: flex
    align-items: center
    padding: 5px 10px
  .topArea
    height: 20px
    background: #000
  .contentArea
     height: 40px
     background: #0e0e0e

  .topArea, .contentArea
    border: $border
    border-bottom: none
    display: flex
    .otherFields
      display: flex
      flex-direction: row
      flex: 1 1 0px

  .columnGroup
    display: flex
    flex-direction: row
    &:last-of-type
      & :last-child
        border-right: none
    .column
      border-right: $border
      text-align: center
      display: flex
      justify-content: center
      align-items: center
    &.col2
      flex: 2 1 0px
      .column
        width: 50%
    &.col3
      flex: 3 1 0px
      .column
        width: 33.3%
    &.col4
      flex: 4 1 0px

      .column
        width: 25%
    &.odd
      .column
        &:hover
          background: #3d3d3d
          cursor: pointer
        &.active
          background: #a6ce00
          color: black
          font-weight: 600
section.basket
  background: #0e0e0e
  border: $border
  padding: 10px 20px
  font-size: 14px
  position: absolute
  right: 0
  bottom: 0
  .totalAmount
    padding: 15px 0
  .odds
    p
      padding: 10px 0
      border-bottom: $border
      strong
        font-weight: 600
